workDir = 'data/nextflow'

conda {
  enabled = true
  useMicromamba = true
}

executor{
  queueSize = 100
  pollInterval = '1 min'
  submitRateLimit = '10 sec'
}

env {
  TMPDIR = '/home/jp2045/quasar-sc-paper/data/tmp' 
}

process {
     withLabel: tiny {
        executor = 'slurm'
        cpus = 12
        memory = '120 GB'
        queue = 'icelake-himem'
        time = '30m'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
     withLabel: high_mem {
        executor = 'slurm'
        cpus = 10
        memory = '80 GB'
        queue = 'icelake-himem'
        time = '3h'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
    withLabel: mega_mem {
        executor = 'slurm'
        cpus = 20
        memory = '160 GB'
        queue = 'icelake-himem'
        time = '40m'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
     withLabel: pb_quasar {
        executor = 'slurm'
        cpus = 2
        memory = '10 GB'
        queue = 'icelake-himem'
        time = '30m'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
     withLabel: saigeqtl {
        executor = 'slurm'
        cpus = 2
        memory = '10 GB'
        queue = 'icelake-himem'
        time = '12h'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
     withLabel: sc_quasar {
        executor = 'slurm'
        array = 20
        cpus = 6
        memory = '20 GB'
        queue = 'icelake-himem'
        time = '3h'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
    withLabel: sc_quasar_gwas {
        executor = 'slurm'
        cpus = 10
        memory = '80 GB'
        queue = 'icelake-himem'
        time = '4h'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
     withLabel: micro {
        executor = 'slurm'
        cpus = 6
        memory = '10 GB'
        queue = 'icelake-himem'
        time = '30m'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
    withLabel: nano {
        executor = 'slurm'
        cpus = 2
        array = 20
        memory = '10 GB'
        queue = 'icelake-himem'
        time = '5m'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
     withLabel: long_nano {
        executor = 'slurm'
        cpus = 2
        memory = '10 GB'
        queue = 'icelake-himem'
        time = '30m'
        clusterOptions = '-A mrc-bsu2-sl2-cpu'
    }
}