/*
 * -------------------------------------------------
 *  Nextflow config file for single-cell quasar analysis
 * -------------------------------------------------
 */

params {
    datasets = ['onek1k']

    dataset_configs = [
        onek1k: [
            vcf_glob:              "data/onek1k/chr*.dose.filtered.R2_0.8.vcf.gz",
            sc_data:               "data/onek1k/OneK1K_cohort_gene_expression_matrix_14_celltypes.h5ad.gz",
            cell_types:            ['CD4_NC', 'CD4_ET', 'CD4_SOX4', 'CD8_ET', 'CD8_NC', 'CD8_S100B',
                                    'NK', 'NK_R', 'Plasma', 'B_Mem', 'B_IN', 'Mono_C', 'Mono_NC', 'DC'],
            combined_types:        [B_all: ['B_IN', 'B_Mem'],
                                    T_all: ['CD4_NC', 'CD4_ET', 'CD4_SOX4',
                                            'CD8_ET', 'CD8_NC', 'CD8_S100B']],
            subsample_cell_types:  ['Plasma', 'B_IN', 'CD4_NC'],
            indiv_frac_cell_types: ['CD4_NC'],
            annot_bed_url:         "https://ftp.ensembl.org/pub/grch37/release-115/gtf/homo_sapiens/Homo_sapiens.GRCh37.87.gtf.gz",
        ],
        tremor: [
            vcf_glob:              "data/tremor-data/chr*_plink_hg38.dbsnp_151.vcf.gz",
            sc_data:               "data/tremor-data/ET.cerebellum_eQTL_fordownload.h5ad",
            cell_types:            ['Microglia', 'Golgi', 'UBC', 'Endocytes'],
            combined_types:        [:],
            subsample_cell_types:  [],
            indiv_frac_cell_types: [],
            annot_bed_url:         "https://ftp.ensembl.org/pub/release-105/gtf/homo_sapiens/Homo_sapiens.GRCh38.105.gtf.gz",
        ],
        randolph: [
            vcf_glob:              "data/tremor-data/chr*_plink_hg38.dbsnp_151.vcf.gz",
            sc_data:               "data/tremor-data/ET.cerebellum_eQTL_fordownload.h5ad",
            cell_types:            [],
            combined_types:        [:],
            subsample_cell_types:  [],
            indiv_frac_cell_types: [],
            annot_bed_url:         "https://ftp.ensembl.org/pub/release-105/gtf/homo_sapiens/Homo_sapiens.GRCh38.105.gtf.gz",
        ]
    ]

    starcat_ref_url = "https://zenodo.org/records/13370076/files/TCAT.V1.tar.gz"
    tremor_tensorqtl_zenodo = "20404733"
}

includeConfig 'conf/csd3.config'
